<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    
  </h1>
  <button (click)="addressHide()">Show/hide Address</button>
</div>
<div [hidden]="showAddress">
    {{street}}
    {{city}}
    {{region}}
    <input [value]="name">
    <input #namebox [value]="name" (input)="name=$event.target.value">
    {{name}}
</div>
  <nav >
    <a [routerLink]="['/']">Home</a>
    <a  [routerLink]="['/parent']">Parent</a>
    <a  [routerLink]="['/child']">Child</a>
  </nav>
  <router-outlet></router-outlet>
  <input type="radio" name="color" (click)="color='red'">Red12121
  <input type="radio" name="color" (click)="color='yellow'">Yellow112212121
  <input type="radio" name="color" (click)="color='green'">green1121212112
  

  <br/>
  {{color}}
  <br/>
 <p [appdirective]="color">Directive Data</p>
 <p [appdirective]="color" defaultcolor="violet">Try It</p>

